.differential {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 16rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  gap: 0.5rem;
  font-size: 1.3rem;
  color: #efefef;
  font-family: var(--font-scandia-medium);
  text-wrap: nowrap;
}

.differentialText {
  font-family: var(--font-scandia-regular);
  color: #efefef;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  height: 5.3125rem;
  width: 90%;
}

@media (max-width: 1248px) {
  .differential {
    width: 17rem;
  }
}

@media (max-width: 1048px) {
  .differential {
    width: 75%;
    height: fit-content;
  }

  .differentialText {
    height: fit-content;
  }
}