.homeBanner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 88vh;
  background-color: #203029;
  position: relative;
  overflow: hidden;
}

.homeBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  width: 600px;
  height: 100%;
  background: linear-gradient(to right, #203029, transparent);
  z-index: 2;
}

.bannerInfos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  padding: 5rem 0 5rem 5rem;
  z-index: 2;
  position: relative;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.boldTitle {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-scandia-medium);
  color: #db9f5d;
  font-size: 2.7rem;
}

.lightTitle {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-scandia-regular);
  color: #db9f5d;
  font-size: 2.2rem;
}

.text {
  font-weight: 400;
  font-family: var(--font-scandia-regular);
  color: #efefef;
  font-size: 1.2rem;
  width: 25rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.bannerImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 1;
}

.button {
  border: none;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: #db9f5d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #203029;
  font-weight: 500;
  font-family: var(--font-scandia-medium);
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #cc9356;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
