.homeBanner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  background-color: #203029;
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/images/home_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.bannerBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.bannerInfos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80vh;
  height: 80vh;
  background-color: #203029;
  border-radius: 50%;
  border-bottom-left-radius: 4px;
  margin-left: 1rem;
  justify-content: center;
  padding-left: 5vw;
  padding-top: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-wrap: nowrap;
}

.boldTitle {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-scandia-medium);
  color: #db9f5d;
  font-size: 2.8rem;
}

.lightTitle {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: var(--font-scandia-regular);
  color: #db9f5d;
  font-size: 2.5rem;
}

.text {
  font-weight: 400;
  font-family: var(--font-scandia-regular);
  color: #efefef;
  font-size: 1.2rem;
  width: 25rem;
  font-weight: 300;
  line-height: 1.7rem;
}

.bannerImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
  z-index: 1;
}

.button {
  border: none;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: #db9f5d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #203029;
  font-weight: 500;
  font-family: var(--font-scandia-medium);
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #cc9356;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

@media (max-height: 750px) {
  .bannerInfos {
    padding-left: 4vw;
  }

  .boldTitle {
    font-size: 2.6rem;
  }

  .lightTitle {
    font-size: 2.3rem;
  }

  .text {
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 25rem;
  }
}

@media (max-height: 650px) {
  .bannerInfos {
    padding-left: 4vw;
  }

  .boldTitle {
    font-size: 2rem;
  }

  .lightTitle {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 20rem;
  }
}

@media (max-height: 530px) {
  .bannerInfos {
    padding-left: 3.5vw;
  }

  .boldTitle {
    font-size: 1.7rem;
  }

  .lightTitle {
    font-size: 1.5rem;
  }

  .text {
    font-size: .9rem;
    line-height: 1.3rem;
    max-width: 20rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-height: 550px) {
  .bannerInfos {
    padding-left: 3vw;
  }

  .boldTitle {
    font-size: 1.8rem;
  }

  .lightTitle {
    font-size: 1.6rem;
  }

  .text {
    font-size: 0.9rem;
    line-height: 1.4rem;
    max-width: 18rem;
  }
}

@media (max-width: 800px), (max-height: 500px) {
  .homeBanner {
    justify-content: center;
    text-align: center;
    height: 90vh;
  }

  .bannerBlur {
    background-color: rgba(32, 48, 41, .92);
  }

  .bannerInfos {
    width: 95%;
    height: fit-content;
    border-radius: 14px;
    padding: 3rem 2rem;
    margin: 0;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .lightTitle {
    width: 100%;
    font-size: 2.4rem;
  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    text-wrap: wrap;
  }
  .boldTitle {
    width: 100%;
    font-size: 1.9rem;
    text-wrap: nowrap;
  }
  
  .lightTitle {
    width: 100%;
    font-size: 1.8rem;
    text-wrap: nowrap;
  }

  .text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .bannerImage {
    display: none;
  }

  .button {
    margin: 0 auto;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}