.membroDetalhesContent {
    width: 60%;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    gap: 1rem;
}

.membroDetalhesCard {
    width: 20rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.membroDetalhesImage {
    width: 100%;
    height: 24rem;
    object-fit: cover;
    object-position: center;
}

.membroDetalhesContactInfo {
    padding: 2rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.membroDetalhesContactData {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-scandia-regular);
    color: #525050;
    font-size: 1rem;
}

.membroDetalhesContactData a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-scandia-regular);
    color: #525050;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.membroDetalhesContactData a:hover {
    color: #db9f5d;
}

.membroDetalhesIdiomas {
    padding: 0 2rem 2rem 2rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.membroDetalhesIdiomas h3 {
    font-family: var(--font-scandia-medium);
    color: #354f44;
    font-size: 1.2rem;
}

.membroDetalhesIdiomas ul {
    list-style: none;
    padding: 0;
}
.membroDetalhesIdiomas li {
    font-weight: 400;
    font-family: var(--font-manrope);
    color: #575656;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.membroDetalhesIdiomas li::before {
    content: "•";
    margin-right: 0.4rem;
    color: #db9f5d;
    font-size: 1.2rem;
}
.membroDetalhesIdiomas li:last-child {
    margin-bottom: 0;
}

.membroDetalhesInfo {
    width: 65%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.membroDetalhesInfoHeader h2 {
    font-family: var(--font-scandia-medium);
    color: #354f44;
    font-size: 2rem;
    margin-bottom: .3rem;
}

.membroDetalhesInfoHeader p {
    font-family: var(--font-scandia-regular);
    color: #525050;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
}

.membroDetalhesFormacaoAtuacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.membroDetalhesFormacaoAtuacao h3 {
    font-family: var(--font-scandia-medium);
    color: #354f44;
    font-size: 1.4rem;
}

.membroDetalhesFormacaoAtuacao ul {
    list-style: none;
    padding: 0;
}

.membroDetalhesFormacaoAtuacao li {
    font-family: var(--font-manrope);
    color: #575656;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
}

.membroDetalhesFormacaoAtuacao li::before {
    content: "•";
    margin-right: 0.4rem;
    color: #db9f5d;
    font-size: 1.2rem;
}

@media (max-width: 1000px) {
    .membroDetalhesContent {
        flex-direction: column;
        width: 85%;
        padding: 2rem 0;
        gap: 2rem;
    }

    .membroDetalhesCard {
        width: 100%;
        flex-direction: row;
        height: 16rem;
    }

    .membroDetalhesImage {
        width: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center 30%;
    }

    .membroDetalhesContactInfo {
        padding: 1rem;
        width: 50%;
        gap: 1rem;
        flex-direction: row;
        text-wrap: nowrap;
        flex-wrap: wrap;
        font-size: .8rem;
    }

    .membroDetalhesIdiomas {
        padding: 1rem;
        width: 60%;
        gap: 0.5rem;
    }

    .membroDetalhesInfo {
        width: 100%;
        padding: 1rem;
        gap: 1rem;
    }

    .membroDetalhesInfoHeader h2 {
        font-size: 1.5rem;
    }

    .membroDetalhesInfoHeader p {
        font-size: 1rem;
    }

    .membroDetalhesFormacaoAtuacao h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 560px) {
    .membroDetalhesContent {
        width: 85%;
        padding: 2rem 0;
    }

    .membroDetalhesCard {
        flex-direction: column;
        height: auto;
    }

    .membroDetalhesImage {
        width: 100%;
        max-height: 22rem;
    }

    .membroDetalhesContactInfo {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem ;
    }

    .membroDetalhesIdiomas {
        width: 100%;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .membroDetalhesInfo {
        width: 100%;
    }
}