.publicacoesSection {
  background-color: #e8e8e8;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.publicacoesContainer {
  width: 85%;
}

.publicacoesTitle {
  font-family: var(--font-scandia-regular);
  color: #203029;
  font-size: 2.2rem;
  width: fit-content;
  text-align: left;
  margin-bottom: 3rem;
  position: relative;
}

.publicacoesTitle span {
  font-family: var(--font-scandia-medium);
}

.publicacoesTitle::after {
  content: "";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  width: 25%;
  height: 2px;
  background-color: #db9f5d;
}

.publicacaoCard {
  display: flex;
  flex-direction: column;
  width: 23rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.publicacaoImage {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.publicacaoContent {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 58%;
}

.publicacaoText {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.publicacaoTitle {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #203029;
  font-family: var(--font-scandia-medium);
}

.publicacaoDescription {
  font-size: 1rem;
  color: #575656;
  font-family: var(--font-scandia-regular);
  line-height: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.publicacoes {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
