.publicacoesSection {
  background-color: #e8e8e8;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.publicacoesContainer {
  width: 85%;
}

.publicacoes {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.verMaisButton {
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: #db9f5d;
  border: 3px solid #db9f5d;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--font-scandia-medium);
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: none;
  margin-top: 2.5rem;
}

.verMaisButton:hover {
  background-color: #db9f5d;
  color: #efefef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}