.areasDeAtuacaoSection {
  background-color: #e8e8e8;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areasDeAtuacaoContainer {
  width: 85%;
}

.areasDeAtuacaoSlider {
  width: 87%;
  position: relative;
  margin: 0 auto;
  padding: .5rem 0 0 0;
}

.customArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90px;
  height: 90px;
  background-color: transparent;
  border: none;
  color: #db9f5d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
}

.customArrow:hover {
  color: #c99052;
}

.customPrevArrow {
  left: -80px;
}

.customNextArrow {
  right: -65px;
}