.areasDeAtuacaoSection {
  background-color: #e8e8e8;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areasDeAtuacaoContainer {
  width: 85%;
  position: relative;
}

/* Setas Customizadas */
.customArrowPrev,
.customArrowNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: #354f44;
  cursor: pointer;
  background-color: transparent;
}

.customArrowPrev:hover,
.customArrowNext:hover {
  background-color: transparent;
}

.customArrowPrev {
  left: 15px;
}

.customArrowNext {
  right: 15px;
}

.carouselWrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.areasDeAtuacaoSlider {
  width: calc(100% - 80px);
  position: relative;
  margin: 0 auto;
  max-width: 1118px;
}

@media (max-width: 1501px) {
  .areasDeAtuacaoSlider {
    max-width: 850px;
  }

  .carouselWrapper {
    max-width: 1030px;
  }
}

@media (max-width: 1185px) {
  .areasDeAtuacaoSlider {
    max-width: 540px;
  }

  .carouselWrapper {
    max-width: 730px;
  }
}

@media (max-width: 834px) {
  .areasDeAtuacaoContainer {
    width: 85%;
    padding: 0 1rem;
  }

  .areasDeAtuacaoSlider {
    width: 100%;
    max-width: none;
  }

  .carouselWrapper {
    max-width: 470px;
  }
}

@media (max-width: 550px) {
  .areasDeAtuacaoContainer {
    width: 95%;
    padding: 0 1rem;
  }

  .areasDeAtuacaoSlider {
    width: 100%;
    max-width: none;
  }

  .customArrowPrev {
    display: none;
  }

  .customArrowNext {
    display: none;
  }

  /* Garantir que os slides ficam centralizados no mobile */
  .areasDeAtuacaoSlider :global(.swiper-slide) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
