.quemSomosHome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: #fafafa;
    padding: 5rem 0;
}

.quemSomosInfos {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 40rem;
}

.quemSomosTitle {
    font-weight: 600;
    font-family: inter;
    color: #203029;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: .5rem;
}

.quemSomosText {
    font-weight: 400;
    font-family: inter;
    color: #575656;
    font-size: 1.2rem;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.quemSomosImage {
    width: 26rem;
    height: 26rem;
    object-fit: cover;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 1000px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border: 2px solid #DB9F5D;
}