.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 8rem;
  background-color: #efefef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 1000;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.navBox {
  display: flex;
  gap: 2.2rem;
  align-items: center;
}

.navItem {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: #757575;
  font-weight: 500;
  font-family: inter;
  position: relative;
  transition: color 0.3s ease;
}

.navItem::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #757575;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s ease-in-out;
}

.navItem:hover {
  color: #5f5e5e;
}

.navItem:hover::after {
  width: 100%;
}

.contactButton {
  padding: 0.7rem 1.3rem;
  border-radius: 20rem;
  background-color: #2a4033;
  border: none;
  font-size: 1rem;
  color: #efefef;
  font-weight: 500;
  font-family: inter;
  text-wrap: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactButton:hover {
  background-color: #253830;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
